@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --fs-desctop: 14px;
  --fs-mobile: 13px;
  --transition-1: 0.2s ease;
  --transition-2: 0.3s ease-in;
  --desctop: 1024px;
  --black-1: #23262c;
  --white-1: #f4f6fa;
  --white-2: #f4f6fa93;
  --white-3: #f4f6fa71;
  --gray-1: #30343b;
  --gray-2: #2b2f35;
  --blue-1: #039bdc;
}

html {
  font-size: var(--fs-mobile);
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--black-1);
  color: var(--white-2);
  padding: 4.5rem 2.3rem 0;
}

i {
  font-size: 1.1rem;
}

button {
  display: flex;
  align-items: center;

  padding: 1rem 1.7rem;
  font-size: 1.2rem;
  line-height: 1.5;
  background-color: transparent;
  color: var(--white-3);

  border: none;
  border-radius: 0.5rem;
  transition: background-color var(--transition-1);
}

button:hover {
  background-color: var(--gray-1);
}

button:active {
  background-color: var(--gray-2);
}

button.active {
  background-color: var(--gray-1);
}
button.active:active {
  background-color: var(--gray-2);
}

/* Header */
.todoapp > .header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4.5rem;
}

.todoapp > .header::after {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--white-2);
  opacity: 0.15;
  width: 100%;

  position: absolute;
  bottom: -1.6rem;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.title {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--white-1);
}

.text {
  font-size: 0.9rem;
}

.avatar-wrapper {
  width: 3.6rem;
  height: auto;
}

.avatar {
  width: 100%;
  object-fit: cover;
}

/* Main Section */

.main {
  margin-top: 3rem;
}

.main > .header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.button-wrapper {
  display: flex;
  gap: 0.5rem;
  width: 100vw;
  position: relative;
}

.clear-completed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.7rem;
  flex-grow: 2;
}

.button-filters {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.filters-list {
  display: none;
}

.filters-list.show {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  background-color: var(--black-1);
  border: 2px solid var(--gray-1);
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.6rem;

  position: absolute;
  top: 130%;
  right: 0;
  z-index: 1000;
}

.filters-list.show button {
  justify-content: center;
  width: 100%;
  transition: all var(--transition-1);
}

/* Todo-list */

.todo-list {
  display: flex;
  flex-direction: column;
  height: 45vh; /* ! */
  margin-top: 2rem;
  overflow-y: scroll;
  scrollbar-color: var(--white-3);
  transition: all 0.2s linear;
}

.todo-list::-webkit-scrollbar {
  width: 3px;
  opacity: 0.2;
}

.todo-list::-webkit-scrollbar-thumb {
  background-color: var(--gray-1);
  border-radius: 3px;
  opacity: 0.5;
}

.todo-list li label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.3rem;
  line-height: 1.5;
  color: var(--white-1);
  cursor: pointer;
  padding: 1.2rem;
}

.todo-list li label:hover {
  background-color: var(--gray-2);
  border-radius: 0.5rem;
}

.toggle {
  display: none;
}

.fake {
  display: block;
  width: 1.8rem;
  min-width: 1.8rem;
  height: 1.8rem;
  border: 2px solid var(--white-2);
  border-radius: 0.4rem;
  position: relative;
  transition: all var(--transition-1);
}

.fake::after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f00c";

  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

  width: 1.8rem;
  height: 1.8rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  transition: all var(--transition-1);
  transform: translate(-48%, -52%) scale(0%);
  opacity: 0;
}

.toggle:checked + .fake::after {
  opacity: 1;
  transform: translate(-48%, -52%) scale(112%);
}

.fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  display: block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.4rem;
  background-color: var(--blue-1);
  transition: all var(--transition-1);

  transform: translate(-50%, -50%);
  opacity: 0;
}

.toggle:checked + .fake::before {
  opacity: 1;
  background-color: var(--blue-1);
  transform: translate(-50%, -50%);
}

.toggle:checked + .fake {
  border-color: transparent;
}

.toggle:checked ~ .todo-text {
  color: var(--white-2);
}

.todo-text {
  position: relative;
}

.toggle:checked ~ .todo-text {
  text-decoration: line-through;
}

.destroy {
  display: none;
}

.edit {
  display: none;
}

/* Media */
@media (min-width: 1024px) {
  html {
    font-size: var(--fs-desctop);
  }

  .todoapp {
    max-width: 1121px;
    margin: 0 auto;
  }

  .main .header {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .counter {
    order: 1;
  }

  .button-wrapper {
    order: 2;
    display: flex;
    gap: 0.5rem;
    width: auto;
  }

  .clear-completed {
    flex-grow: unset;
  }

  .filters-button {
    flex-grow: unset;
  }

  .todo-text::before {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background-color: var(--white-2);

    position: absolute;
    top: 50%;
    transition: all var(--transition-1);
  }

  .toggle:checked ~ .todo-text {
    text-decoration: unset;
  }

  .toggle:checked ~ .todo-text::before {
    width: 100%;
    height: 1px;
    transition: all var(--transition-2);
  }

  .todo-list::-webkit-scrollbar-thumb {
    background-color: var(--white-3);
    border-radius: 3px;
    opacity: 0.5;
  }

  .todo-list li label {
    padding: 1.5rem;
  }
}
